@charset "utf-8";
body 
{background-color: lightsteelblue;}

h1 
{color: black;
	font: "Times New Roman";
	font-size: 250%}
h2
{color: black;
	font: "Times New Roman";
	font-size: 250%}
h3
{color: black;
	font: "Times New Roman";
	font-size: 200%}
h4
{color: black;
	font: "Times New Roman";
	font-size: 150%}

p 
{color:black;
	font: "Times New Roman";
	font-size: 150%}

#banner 
{background-image: url("banner.jpg");
width: 1950px;
height: 125px;
position:absolute;
top: 0;
left: 0}

#logo
{background-image: url("sitelogo2.png");
width: 220px;
height: 125px;
position:absolute;
top: 0;
left: 0}

.imageright{
	width: 200px;
		height:1000px;
	margin-right: 0px;
	margin-left: 1741px
}

.imageleft{
	width: 400px;
		height:300px;
	margin-top: -1000px;
	margin-bottom: 280px;
	margin-left: 10px
}


.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 145px;
  margin-right: 500px;
	margin-left: 700px;
}
.column {
  float: none;
  width: 50%;
	padding: 20px;
	background-color: #f1f1f1;
	  text-align: center;
  position: absolute;
	top: 350px;
	left: 25%
}
.column2 {
	float: none;
	width: 25%;
	padding: 20px;
	background-color: #f1f1f1;
	text-align: center;
	position: absolute;
	top: 350px;
	left: 20%
}
.column3 {
	float: none;
	width: 25%;
	padding: 20px;
	background-color: #f1f1f1;
	text-align: center;
	position: absolute;
	top: 350px;
	left: 55%
}

ul {
list-style-type: none;
position: absolute;
top: 125px;
left: 0px;
margin: 0;
padding: 10px;
overflow: hidden;
background-color:dodgerblue
}

li a {
	display: block;
color: black;
padding: 8px 15px;
text-decoration: none}

li a:hover {background-color: blue;
color: white}



